* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.box {
    width: 600px;
    height: 750px;
}

.container {
    width: 600px;
    height: 355px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.head {
    width: 100%;
    height: 50px;
    background-color: black;
    text-align: center;
}

.corpo {
    width: 100%;
    height: 5%;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

.meiobaixo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.foot {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    background-color: red;
}